* {
  accent:           		#AB9888;
  background:       		#070417ef;
  background-alt:         	#ff4a69;
  background-light: 		#ff954f;
  foreground:       		#ffffff;
  off:              		#00000000;
}
